<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
  <p>Assignment 3 Bad Link Error <a href="/inv/detail/2352">Error Link</a></p>
  <p><a href="/error" title="CLick here for the 500 error page">Intentional 500 Error</a></p>
</footer>